<section class="projects">
	<header class="projects__toolbar">
		<h1>{{ 'pages.projects.title' | translate }}</h1>
		<div class="projects__toolbar-actions">
			<div class="projects__search">
				<mat-icon aria-hidden="true">search</mat-icon>
				<input type="search" [placeholder]="'pages.projects.search.placeholder' | translate" [formControl]="searchControl" />
			</div>
			<button mat-stroked-button type="button" (click)="reload()" [disabled]="loading">
				<mat-icon aria-hidden="true">refresh</mat-icon>
				{{ 'pages.projects.actions.reload' | translate }}
			</button>
			<button mat-raised-button color="primary" class="projects__add-btn" type="button" (click)="openCreateDialog()" [disabled]="loading">
				<mat-icon aria-hidden="true">add</mat-icon>
				{{ 'pages.projects.actions.create' | translate }}
			</button>
		</div>
	</header>

	<div *ngIf="errorMessage" class="projects__error">
		<mat-icon aria-hidden="true">error</mat-icon>
		<span>{{ errorMessage }}</span>
		<button mat-stroked-button type="button" (click)="reload()">{{ 'pages.projects.actions.retry' | translate }}</button>
	</div>

	<ng-container *ngIf="!loading; else loadingState">
		<ng-container *ngIf="filteredProjects.length; else emptyState">
			<app-data-table
				[data]="filteredProjects"
				[columns]="tableColumns"
				[actions]="tableActions"
				[trackByFn]="trackByProject"
				[rowClassFn]="getRowClass"
				[isItemBusyFn]="isItemBusy"
				[isLoading]="loading"
				(rowClick)="openUpdateDialog($event)">
			</app-data-table>
		</ng-container>
	</ng-container>

	<ng-template #loadingState>
		<div class="projects__loading">
			<mat-spinner diameter="48"></mat-spinner>
			<span>{{ 'pages.projects.states.loading' | translate }}</span>
		</div>
	</ng-template>

	<ng-template #emptyState>
		<div class="projects__empty">
			<mat-icon aria-hidden="true">lightbulb</mat-icon>
			<h3>{{ searchControl.value ? ('pages.projects.states.noResults' | translate) : ('pages.projects.states.emptyTitle' | translate) }}</h3>
			<p>
				{{
					searchControl.value
						? ('pages.projects.states.noResultsDescription' | translate)
						: ('pages.projects.states.emptyDescription' | translate)
				}}
			</p>
			<button mat-raised-button color="primary" class="projects__add-btn" type="button" (click)="openCreateDialog()" *ngIf="!searchControl.value">
				<mat-icon aria-hidden="true">add</mat-icon>
				{{ 'pages.projects.actions.create' | translate }}
			</button>
		</div>
	</ng-template>
</section>
