<section class="invoices">
	<header class="invoices__toolbar">
		<h1>{{ 'pages.invoices.title' | translate }}</h1>
		<div class="invoices__toolbar-actions">
			<div class="invoices__search">
				<mat-icon aria-hidden="true">search</mat-icon>
				<input type="search" [placeholder]="'pages.invoices.search.placeholder' | translate" [formControl]="searchControl" />
			</div>
			<button mat-stroked-button type="button" (click)="loadData()" [disabled]="isLoading">
				<mat-icon aria-hidden="true">refresh</mat-icon>
				{{ 'pages.invoices.actions.reload' | translate }}
			</button>
			<a mat-stroked-button class="templates-link" [routerLink]="['/invoices/templates']">
				<mat-icon aria-hidden="true">style</mat-icon>
				Templates
			</a>
			<button mat-raised-button color="primary" type="button" (click)="openCreateForm()" [disabled]="isLoading">
				<mat-icon aria-hidden="true">note_add</mat-icon>
				{{ 'pages.invoices.actions.create' | translate }}
			</button>
		</div>
	</header>

	<div *ngIf="errorMessage" class="invoices__error">
		<mat-icon aria-hidden="true">error</mat-icon>
		<span>{{ errorMessage }}</span>
		<button mat-stroked-button type="button" (click)="loadData()">{{ 'pages.invoices.actions.retry' | translate }}</button>
	</div>

	<ng-container *ngIf="!isLoading; else loadingState">
		<ng-container *ngIf="filteredInvoices.length; else emptyState">
			<app-data-table
				[data]="filteredInvoices"
				[columns]="tableColumns"
				[actions]="tableActions"
				[trackByFn]="trackByInvoice"
				[rowClassFn]="getRowClass"
				[isItemBusyFn]="isInvoiceBusy"
				[isLoading]="isLoading"
				(rowClick)="openInvoiceModal($event)">
			</app-data-table>
		</ng-container>
	</ng-container>

	<ng-template #loadingState>
		<div class="invoices__loading">
			<mat-spinner diameter="48"></mat-spinner>
			<span>{{ 'pages.invoices.states.loading' | translate }}</span>
		</div>
	</ng-template>

	<ng-template #emptyState>
		<div class="invoices__empty">
			<mat-icon aria-hidden="true">request_page</mat-icon>
			<h3>{{ searchControl.value ? ('pages.invoices.states.noResults' | translate) : ('pages.invoices.states.emptyTitle' | translate) }}</h3>
			<p>
				{{
					searchControl.value
						? ('pages.invoices.states.noResultsDescription' | translate)
						: ('pages.invoices.states.emptyDescription' | translate)
				}}
			</p>
			<button mat-raised-button color="primary" type="button" (click)="openCreateForm()" *ngIf="!searchControl.value">
				<mat-icon aria-hidden="true">note_add</mat-icon>
				{{ 'pages.invoices.actions.create' | translate }}
			</button>
		</div>
	</ng-template>
</section>
